@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #eee;
  padding: 16px;
  height: 100vh;
}

.d-flex {
  display: flex;
}

/************Header*****************/
.nav-link-ct ul li{
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}

.nav-link-ct ul li a {
  text-decoration: none;
  color: #000;
}

.nav-link-ct ul{
  padding-left: 0px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}

.nav-link-ct ul li a.active {
  font-weight: 600;
  color: #1976d2;
  border-bottom: 2px solid #1976d2;
  padding-bottom: 10px;
}

button {
  text-transform: capitalize !important;
}
.btn-group-tool button {
  background-color: #fff;
  border-color: #ddd;
  color: #000;
  font-weight: 400;
}
.css-s20sh7>* {margin-left: 0px !important;}
.css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-lastButton, .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton{
  margin-left: 0px !important;
  border-radius: 2px;
}
.css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-firstButton:hover, .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton:hover{
  border-right-color: #1976d2 !important;
}
button.active {
  border-color: #1976d2;
  color: #1976d2;
  background-color: #eee;
  border-radius: 2px;
  font-weight: 500;
  border-right-color: #1976d2 !important;
}
.refresh-btn {
  margin-left: auto;
  padding-top: 6px;
}
.refresh-btn button {
  font-size: 14px;
}
/**************main-content styles***************/
main {
  padding-top: 2px;
}

/************Date range picker styles***********/
/*.dateranger-picker-ct {
  width: 320px;
}*/

.dateranger-picker-ct .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px;
  font-size: 14px;
}

.css-nby9nv-MuiStack-root>.MuiTextField-root, .css-nby9nv-MuiStack-root>.MuiPickersTextField-root {
  min-width: 212px !important;
  background-color: #fff;
}

/**************Chart styles*****************/
.chart-section-ct {
  width: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
}

.chart-section-ct .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px;
  line-height: 1.4em;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 6.5px 14px !important;
}
.select-metric-box {
  margin-left: 4px !important;
}
/**********Analytics styles**************/
.num-text{
  font-size: 13px;
  text-transform: capitalize;
}
.number-ct{
  margin-top: 2px;
  color: #1976d2;
}
.number-ct .num-postfix{
  padding-left: 2px;
  font-size: 12px;
  vertical-align: super;
  display: inline-block;
  margin-top: 4px;
  color: #000;
}
.number-ct .num{
  color: #1976d2;
  font-weight: 500;
}

/*****************Data grid styles***********/
.MuiDataGrid-cell{
  line-height: normal !important;
  padding-top: 7px !important;
  height: 80px;
}
.MuiDataGrid-columnsContainer {
  background-color: #f0f0f0;
}
.MuiDataGrid-columnHeader, .MuiDataGrid-cell {
  border-right: 1px solid #f0f0f0;
}
.MuiDataGrid-columnsContainer, .MuiDataGrid-cell {
  border-bottom: 1px solid #f0f0f0;
}
.post-title-ct .title {
  font-weight: 500;
}
.post-title-ct p{
  padding-top: 4px;
  font-size: 13px;
}
.post-title-ct .article-txt{
  font-weight: 500;
}
.post-title-ct .article-txt, .post-title-ct .article-dt-txt, .post-title-ct .article-txt-author {
  margin-right: 8px;
}
.post-title-ct .article-dt-txt, .post-title-ct .article-txt-author, .post-title-ct .article-desc{
  color: #7a7373;
}